@tailwind base;
@tailwind components;
@tailwind utilities;



/* .img1 ::after{
background-image: url("../img/hassanzad.png");
} */

.shadow-custom{
    box-shadow: 0px 9.129251480102539px 54.7755126953125px 0px rgba(38, 45, 118, 0.08);

}

.images{
    background-image: url(../img/img.png);
}

.bc{
    border: 1px solid var(--blue-button, #4FB5FF);
}

.bsh{
    box-shadow: 0px 30px 52.5px -7.5px rgba(0, 0, 0, 0.03);
}

.imgct5{
    background-image: url(../img/Group\ 39464.png);
    background-size: 85%;
    background-repeat: no-repeat;
}

.shc6{
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.brc7{
    border: 2px solid var(--blue-button, #4FB5FF);
}

.brctn7{
    border-bottom: 2px solid #D4D4D4;
}

.bxshctn7{
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}


.bgctn7{
    background: rgba(116, 83, 247, 0.30);
}

.bgctn77{
    background: var(--purpple, #7453F7);
}

.brdctn9{
    border: 1px solid var(--blue-button, #4FB5FF);
}

.textstyle{
    color: var(--blue-button, #4FB5FF);
    text-align: right;
    font-family: Yekan Bakh FaNum;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 69.725px;
    letter-spacing: -0.31px;
}

.bxshctn9{
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.textstylectn9{
    color: #FFF;
    text-align: center;
    font-family: Yekan Bakh FaNum;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.styletextctn9{
    color: #31003D;
    text-align: right;
    font-family: Yekan Bakh FaNum;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
}

.textstylelogo{
    color: var(--neutral-800, #170F49);
    font-family: DM Sans;
    font-size: 32.209px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.998px;
}

.textstyletitr{
    color: var(--neutral-800, #170F49);
    /* Text Single/300/Bold */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.styletext{
    color: var(--neutral-600, #6F6C90);
    text-align: center;

    /* Text Single/200/Regular */
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.stylebox{
    border-radius: 108px;
    border: 1px solid var(--neutral-400, #D9DBE9);
    background: var(--neutral-100, #FFF);
    /* General/Shadow 02 */
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);

}

#email{
    width: 359px;
    height: 68px;
    border-radius: 108px;
    border: 1px solid var(--neutral-400, #D9DBE9);
    background: var(--neutral-100, #FFF);
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
    padding-top: 25px;
    padding-left: 23px;
    padding-bottom: 25px;
    padding-right: 216px;
}

#submit{
    width: 125px;
    height: 54px;
    border-radius: 76px;
    background: var(--purpple, #7453F7);
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 18px;
    padding-right: 24px;
    cursor: pointer;
}

.styletextftr{
    color: var(--neutral-600, #6F6C90);
    /* Text Single/200/Regular */
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.customsh{
    box-shadow: 0px 2px 12px 0px rgba(40, 2, 102, 0.31);
}

.bgctn1{
    background: rgba(79, 181, 255, 1)
}

.bgcustom{
    background: rgba(238, 244, 254, 1)
}

.bgss{
    background: url(../img/Group\ 93.png);
}


/*start navbar section style*/
.nav{
    width: 75%;
    height: auto
    text-align: right;
    overflow: hidden;
}
.nav a{
    float: right;
    text-align: center;
    padding: 0px 16px;
}
.nav a:hover:not(:last-child){
    border-bottom: 1px solid #ba1919;
}
.icon{
    display: none;
}

@media not all and (min-width: 640px) {
    .nav a{
        display: none;
    }
    .nav a.icon{
        display: block;
    }
    .responsive{
        position: relative;
    }
    .nav.responsive a.icon{
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav.responsive a{
        float: none;
        display: block;
        text-align: center;
    }
}


.icon i{
    font-size: 30px;
}
/*End navbar section style*/